<div class="card-trip">
  <div class="card-trip-infos">
    <div>
      <h1><%= @bookmark.name%></h1>
      <br>
      <h2>Name: </h2>
      <p><%= @bookmark.name%></p>
    </div>
  </div>
</div>
<div>
    <a class="btn btn-success" href="/lists">Back to lists</a>
</div>
